<div class='well'>
	<legend>Id:</legend>
	<label>{{this.id}}</label>
	<legend>First Name: </legend>
	<label>{{this.fName}}</label>
	<legend>Last Name: </legend>
	<label>{{this.lName}}</label>
	<legend>Telephone: </legend>
	<label>{{this.telephone}}</label>
	<legend>Email: </legend>
	<label>{{this.email}}</label>
</div>