<html>
	<head>
		 <!-- Bootstrap -->
    	<link href="{{url "/themes/default/public/css/bootstrap.min.css"}}" rel="stylesheet" >
	</head>
	<body>

	{{include header}}
	<hr/>

	<div>
		{{include body}}
	</div>
	<hr/>
	<div>
		{{include footer}}
	</div>

	<!-- Add the js last -->
	<script src="{{url "/themes/default/public/js/libs/jquery-1.10.2.min.js"}}"></script>

	{{js}}
	
	</body>
</html>